[submodule "src/muppet"]
	path = src/muppet
	url = https://github.com/ICIdsl/muppet.git
[submodule "src/ar4414/pruning"]
	path = src/ar4414/pruning
	url = https://github.com/adityarajagopal/pruning.git 
